<?xml version="1.0" encoding="UTF-8"?>
<!--
{{ ansible_managed | comment }}
# {{ git_repo.url }}
# admin {{ git_repo.admin }} bus {{ git_repo.bus }}
-->

<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- Memcached block -->
{% if tomcat_memcached_used %}
    <Manager className="de.javakaffee.web.msm.MemcachedBackupSessionManager"
    memcachedNodes="{{ tomcat_memcached_connect_string }}"
    sticky="{{ tomcat_memcached_sticky }}"
    sessionBackupAsync="{{ tomcat_memcached_session_backup_async }}"
    lockingMode="{{ tomcat_memcached_locking_mode }}"
    requestUriIgnorePattern="{{ tomcat_memcached_ignore_pattern }}"
    enableStatistics="{{ tomcat_memcached_enable_statistics }}" />
{% else %}
    <!-- Memcached is not used -->
{% endif %}

</Context>
